.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

main {
  background-color: #282c34;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  color: white;
  background-color: #282c34;
}

.loading {
  display: flex;
  margin: auto;
}

.main-nav {
  /*background-color: #282c34;*/
  background-image: linear-gradient(to top, hsl(220, 13%, 18%, 0), hsl(220, 13%, 18%) 25%);
}

/*Could cause trouble
.work-wrapper {
  min-height: 100vh;
}*/

.home-wrapper {
  background-color: #282c34;
}

.about-wrapper {
  background-color: #282c34;
}

.nav-item a {
  color: white;
}

.site-logo {
  width: 100px;
  transition: 1.5s;
}

.site-logo:hover {
  -webkit-filter: drop-shadow(0px 0px 5px aquamarine);
  filter: drop-shadow(0px 0px 5px aquamarine);
}

.site-logo-2 {
  width: 100px;
  transform: rotateY(360deg);
  transition: 1.5s;
}

.site-logo-2:hover {
  -webkit-filter: drop-shadow(0px 0px 5px aquamarine);
  filter: drop-shadow(0px 0px 5px aquamarine);
}



.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 1rem;
}

.nav-menu li a {
  padding: 3rem;
} 

/*desktop menu open*/
.hamburger-react {
  margin-right: 1rem;
  z-index: 2;
}


/*
.work-title {
  font-size: 2rem;
}

.work-poster {
  padding: 0;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.work-container {
  margin: auto;
  text-align: center;
  background-color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wp-image-28 {
  height: 30vh;
  width: 30vw;
  border-radius: 5px;
}
*/

/*Work tabs*/
/*
.filter-work {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-self: center;
}*/

.filter-work {
  position: relative;
  width: 100%;
  margin: auto;
}

.filter-work button {
  border: aquamarine 1px solid;
  background-color: #282c34;
  color: aquamarine;
  border-radius: 3px;
  padding: .5rem;
  font-weight: bold;
  margin-right: 1rem;
} 

.filter-work button.active {
  color: #282c34;
  background-color: aquamarine;
  border: #282c34;
}

/*Work Page*/

.work-heading {
  font-size: 3rem;
  display: flex;
  margin-left: 10vw;
  margin-top: 5vh;
  margin-bottom: 0;
  font-weight: 700;
}

.work-underline {
  content: '';
  height: 4px;
  max-width: 90vw;
  background-color: #7fffd4;
  display: block;
  margin-left: 10vw;
  margin-bottom: 4rem;
}

.work-container {
  margin: auto;
  width: 400px;
  max-height: 400px;
  overflow: hidden;
  background-color: hsl(160, 100%, 75%, 10%);
  border: 2px aquamarine solid;
  text-align: center;
  color: white;
  transition: .6s ease-out;
  box-shadow: 0 0 5px 1px white;
  /* position: relative;
  z-index: 1000; */
}

.work-container:hover {
  /*transform: scale(1.05);*/
  transition: .2s ease-in;
  box-shadow: 0 0 10px 1px aquamarine;
  border: 2px white solid;
}

.work-content ul li {
  display: none;
}

.work-content p {
  display: none;
}

.work-content .wp-block-group {
  display: none;
}

.work-content .wp-container-1, .wp-container-2 {
  display: none;
}

.work-content h2 {
  display: none;
}

 .work-content .is-layout-flow.wp-block-group {
  display: none;
} 

.work-container .wp-element-button {
  display: none;
}

.wp-block-image {
  transition: .6s ease-out;
}

.work-container:hover .wp-block-image {
  transform: scale(1.1);
  transition: .2s ease-in;
}

.work-title {
  font-size: 1.5rem;
  color: white;
  text-decoration: underline;
  text-decoration-color: hsl(160, 100%, 75%, 0%);
  transition: .6s ease;
}

.work-container:hover .work-title {
  transition: .6s ease;
  text-decoration-color: aquamarine;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 60px 60px;
  margin: auto;
  max-width: 80%;
  margin-top: 0;
  margin-bottom: 5rem;
}

.work-container p {
  max-width: 90%;
  margin: auto;
  margin-bottom: .5rem;
}

.more-info {
  color:  hsl(160, 100%, 75%, 0%);;
  transition: .6s ease;
  text-decoration: none;
  text-align: right;
}

.work-container:hover .more-info {
  color: aquamarine;
  transition: .6s ease;
}

/*Single Page*/


.detail-content .wp-block-buttons a{
 color: aquamarine;
 padding: .5rem;
 border-radius: 3px;
 background-color: #282c34;
 border: aquamarine 1px solid;
 display: flex;
 width: 280px;
 justify-content: center;
 margin-bottom: 1rem;
 text-decoration: none;
}

.detail-content {
  max-width: 900px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

article ul li {
  line-height: 2.5em;
}

.detail-content .wp-container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.detail-content .wp-block-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail-content, .wp-container-2, h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.detail-content article p {
  line-height: 2.5;
  /* background-color: hsl(160, 100%, 75%, 10%); */
  border: 1px solid black;
  box-shadow: 0 0 4px 1px aquamarine;
  border-radius: 5px;
  padding: 1rem;
  max-width: 90vw;
  margin: auto;
}

.back-to-work {
  position: fixed;
  right: 10%;
  text-decoration: none;
  border: aquamarine 1px solid;
  background-color: #282c34;
  color: aquamarine;
  border-radius: 3px;
  padding: .5rem;
}

/*Img sizes*/

.wp-block-image {
  margin-left: 0;
  margin-right: 0;
}

.wp-image-28 {
  width: 100%;
  height: inherit;
}

.wp-image-216 {
  width: 100%;
  height: inherit;
}

.wp-image-79 {
  width: 100%;
  height: inherit;
}

.wp-image-77 {
  width: 100%;
  height: inherit;
}

.wp-image-83 {
  width: 100%;
  height: inherit;
}

@media (max-width: 400px) {
  /* .page-detail .wp-image-83 {
    width: 100vw;
  } */
  .back-to-work {
    display: none;
  }
}

.article-width {
  max-width: 100vw;
}

.wp-image-87 {
  width: 100%;
  height: inherit;
}

/*Social links on work posts*/

.wp-block-social-links  {
  display: none;
}

/*.detail-content .wp-block-social-links {
  display: flex;
}

.wp-block-social-link-label{
  display: none;
}

.wp-social-link {
  list-style: none;
}*/

.about-header {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Home page*/

.home-image {
  position: absolute;
  top: 45vh;
  right: 10vw;
}

.home-image-container {
  display: flex;
  max-width: 100vw;
}

.home-image {
  display: flex;
  justify-items: flex-end;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  transition: 1.5s;
}

.home-image-hide {
  display: none;
}

.home-header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*Home page*/
.home-title {
  font-size: 3rem;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-bottom: 0;
  cursor: pointer;
}

.about-title {
    font-size: 3rem;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 0;
}

.about-title::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #7fffd4;
  display: block;
  transition: 2s ease-in-out;
}
/*.home-title::after {
  content: '';
  height: 4px;
  width: 0;
  background-color: aquamarine;
  display: block;
  transition: 1s ease-in-out;
}*/

/*.home-title:hover::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #7fffd4;
  display: block;
}*/

.home-title-2 {
  font-size: 3rem;
  margin-left: 10vw;
  margin-bottom: 0;
  cursor: pointer;
}


.home-title-2::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #7fffd4;
  display: block;
  transition: 2s ease-in-out;
}

.home-title-3 {
  font-size: 3rem;
  margin-left: 10vw;
  margin-bottom: 0;
  cursor: pointer;
}


.home-title-3::after {
  content: '';
  height: 4px;
  width: 0%;
  background-color: #282c34;
  display: block;
}

.home-content {
  display: flex;
  flex-direction: column;
  max-height: 305px;
  justify-content: space-between;
}

.home-content p {
  font-size: 1.5rem;
  margin-left: 10vw;
  max-width: 50vw;
  margin-bottom: 4rem;
  min-width: 320px;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 2.25em;
  }

  .home-title-2 {
    font-size: 2.25em;
  }

  .about-title {
    font-size: 2.25em;
  }

  .work-heading {
    font-size: 2.25em;
  }

  .home-image {
    display: none;
  }

}

@media (max-width: 480px) {
  .home-title {
    font-size: 1.5em;
  }

.home-title-2 {
  font-size: 1.5em;
}

  .about-title {
    font-size: 1.5em;
  }

  .home-content p {
    font-size: 1.2em;
    min-width: 280px;
  }

  .work-heading {
    font-size: 1.5em;
  }
}
/*
.call-to-action {
  background-color: aquamarine;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.25rem;
  width: fit-content;
  margin-top: 5vh;
  margin-left: 10vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.call-to-action-2 {
  color: aquamarine;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.25rem;
  width: fit-content;
  margin-top: -10vh;
  margin-left: 25vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}*/

/*Call to actions homepage*/

.cta-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  list-style: none;
  margin-left: 10vw;
  margin-bottom: 10rem;
  position: relative;
  padding: 0;
  /* bottom: -5vh;
  margin-bottom: 15rem; */
}

.cta-li {
  margin-left: 0;
}

.call-to-action {
  display: flex;
  background-color: aquamarine;
  color: black;
  text-decoration: none;
  justify-content: center;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: 700;
  margin-top: 5vh;
  width: 100px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.home-wrapper .wp-container-1 {
  color: aquamarine;
  margin-left: 10vw;
}

.wp-container-3 {
  margin-top: 15vh;
  max-width: 50vw;
  margin-left: 10vw;
}

.menuNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 100%;
  right: 0;
  bottom: -1rem;
  top: -1rem; 
  background-color: aquamarine;
  z-index: 1;
  transition: 1s ease;
}

.menuNav li {
  display: none;
}

.showMenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1rem;
  top: -1rem; 
  background-color: black;
  z-index: 1;
  transition: 1s ease;
  padding: 0;
}

.showMenu li a {
  color: white;
  text-decoration: underline;
  text-decoration-color: hsl(0, 0%, 0%, 0) ;
  transition: ease-out .6s;
}

.showMenu li a:hover {
  text-decoration-color: aquamarine;
  transition: .3s;
}

.showMenu .burger-item {
  margin-top: 5rem;
}

.burger-item {
  text-align: center;
  display: flex;
  margin-bottom: 30px;
  margin: auto;
  font-size: 4rem;
  font-weight: bold;
}


/*Social Links*/


/*Footer*/

/*.footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 10%;
  transition: 1s ease;
  background-color: hsl(220, 13%, 18%, 95%);
}*/

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 40px;
  list-style: none;
}

.footer ul li a{
  color: white;
  text-decoration: none;
}

.footer-hide {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 2rem;
  transition: 1s ease;
}

.footer-hide ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 30%;
  list-style: none;
}

.footer-hide ul li a{
  color: white;
  text-decoration: none;
}

/*For screen sizes above 1280px (macbook air viewport)*/

/*For mobile*/

@media(max-width: 769px) {
  /* Work container click added
  .work-container:active {
    transition: .2s ease-in;
    box-shadow: 0 0 20px 1px aquamarine;
    border: 2px white solid;
  } */

  .more-info {
    color: aquamarine;
  }
}

@media (max-width: 1000px) {
.detail-content {
  max-width: 90vw;
}

.snippet-container {
  width: 90vw;
}
}

/*For single page skills animation*/

.detail-content .is-layout-flow.wp-block-group ul {
  list-style: none;
}

.skills {
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.skills p {
  position: absolute;
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 180px;
  list-style: none;
}

.skills-list li {
  width: 60px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.skill-item-1 {
  color: #cc99cd;
  border-right: 1px solid white;
}

.skill-item-1-animate {
  transition: .8s ease-in;
  color: aquamarine;
  border-right: 1px solid white;
}

.skill-item-2 {
  color: aquamarine;
}

.skill-item-2-animate {
  transition: 1.6s ease-in;
  color: #f08d49;
}

.skill-item-3 {
  color: #f08d49;
  border-left: 1px solid white;
}

.skill-item-3-animate {
  transition: 2.4s ease-in;
  color: #cc99cd;
  border-left: 1px solid white;
}

.bonus-text {
  font-size: 1.2rem;
}


/* babel Prism.js */
 code[class*="language-"],
 pre[class*="language-"] {
   color: #ccc;
   background: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   max-width: 900px;
   height: 300px;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
  
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
  
 }
 
 /* Code blocks */

 .copy-clipboard {
  position: sticky;
  right: 0;
  margin-top: 0rem;
  color: aquamarine;
  cursor: copy;
 }

 .snippet-container {
  max-width: 900px;
  display: flex;
  margin: auto;
  margin-bottom: 6rem;
  height: max-content;
  flex-direction: column;
 }

 .hide-copy {
  display: none;
 }

 .code-title {
   color: #f08d49;
 }

 .code-title-2 {
   color: #cc99cd;
 }

 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   display: flex;
   /* margin: auto; */
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #2d2d2d;
   border: 1px solid black;
   box-shadow: 0 0 4px 1px aquamarine;
   border-radius: 5px;
   z-index: 0;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #999;
 }
 
 .token.punctuation {
   color: #ccc;
 }
 
 .token.tag,
 .token.attr-name,
 .token.namespace,
 .token.deleted {
   color: #e2777a;
 }
 
 .token.function-name {
   color: #6196cc;
 }
 
 .token.boolean,
 .token.number,
 .token.function {
   color: #f08d49;
 }
 
 .token.property,
 .token.class-name,
 .token.constant,
 .token.symbol {
   color: #f8c555;
 }
 
 .token.selector,
 .token.important,
 .token.atrule,
 .token.keyword,
 .token.builtin {
   color: #cc99cd;
 }
 
 .token.string,
 .token.char,
 .token.attr-value,
 .token.regex,
 .token.variable {
   color: #7ec699;
 }
 
 .token.operator,
 .token.entity,
 .token.url {
   color: #67cdcc;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token.inserted {
   color: green;
 }

 /* babel Prism.js */