.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

main {
  background-color: #282c34;
}

body {
  margin: 0;
  padding: 0;
}

html {
  color: white;
  background-color: #282c34;
}

.loading {
  display: flex;
  margin: auto;
}

.main-nav {
  background-color: #282c34;
}

/*Could cause trouble*/
.work-wrapper {
  min-height: 100vh;
}

.home-wrapper {
  background-color: #282c34;
}

.about-wrapper {
  background-color: #282c34;
}

.nav-item a {
  color: white;
}

.nav-item a:hover{
  color: lime;
}

.site-logo {
  width: 100px;
  transition: 1.5s;
}

.site-logo:hover {
  -webkit-filter: drop-shadow(5px 5px 5px aquamarine);
  filter: drop-shadow(5px 5px 5px aquamarine);
}

.site-logo-2 {
  width: 100px;
  transform: rotateY(360deg);
  transition: 1.5s;
}

.site-logo-2:hover {
  -webkit-filter: drop-shadow(5px 5px 5px aquamarine);
  filter: drop-shadow(5px 5px 5px aquamarine);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px white solid;
  position: sticky;
  top: 0;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 1rem;
}

.nav-menu li a {
  padding: 3rem;
} 

/*desktop menu open*/
.hamburger-react {
  margin-right: 1rem;
  z-index: 2;
}


/*
.work-title {
  font-size: 2rem;
}

.work-poster {
  padding: 0;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.work-container {
  margin: auto;
  text-align: center;
  background-color: black;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wp-image-28 {
  height: 30vh;
  width: 30vw;
  border-radius: 5px;
}
*/

/*Work Page*/

.work-container {
  margin: auto;
  width: 350px;
  height: max-content;
  overflow: hidden;
  background-color: black;
  border-radius: 35px;
  text-align: center;
  color: white;
  transition: .6s ease-out;
  box-shadow: 0 0 10px 1px white;
}

.work-container:hover {
  transform: scale(1.05);
  transition: .2s ease-in;
  box-shadow: 0 0 20px 1px aquamarine;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 60px;
  margin: auto;
  max-width: 90%;
}

.wp-image-28 {
  width: 100%;
  height: inherit;
}

.about-header {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Home page*/

.home-header {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Home page*/
.home-title {
  font-size: 3rem;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-bottom: 0;
  cursor: pointer;
}

/*.home-title::after {
  content: '';
  height: 4px;
  width: 0;
  background-color: aquamarine;
  display: block;
  transition: 1s ease-in-out;
}*/

/*.home-title:hover::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #7fffd4;
  display: block;
}*/

.home-title-2 {
  font-size: 3rem;
  margin-left: 10vw;
  margin-bottom: 0;
  cursor: pointer;
}


.home-title-2::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #7fffd4;
  display: block;
  transition: 2s ease-in-out;
}

.home-title-3 {
  font-size: 3rem;
  margin-left: 10vw;
  margin-bottom: 0;
  cursor: pointer;
}


.home-title-3::after {
  content: '';
  height: 4px;
  width: 0%;
  background-color: #282c34;
  display: block;
}


.home-content p {
  font-size: 1.5rem;
}

.call-to-action {
  background-color: aquamarine;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.25rem;
  width: fit-content;
  margin-top: 5vh;
  margin-left: 10vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.call-to-action-2 {
  color: aquamarine;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.25rem;
  width: fit-content;
  margin-top: -10vh;
  margin-left: 25vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wp-container-1 {
  color: aquamarine;
  margin-left: 10vw;
}

.wp-container-3 {
  margin-top: 15vh;
  max-width: 50vw;
  margin-left: 10vw;
}

.menuNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 100%;
  right: 0;
  bottom: -1rem;
  top: -1rem; 
  background-color: aquamarine;
  z-index: 1;
  transition: 1s ease;
}

.menuNav li {
  display: none;
}

.showMenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1rem;
  top: -1rem; 
  background-color: black;
  z-index: 1;
  transition: 1s ease;
}

.showMenu li a {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
  transition: ease-out .6s;
}

.showMenu li a:hover {
  text-decoration-color: aquamarine;
  transition: .3s;
}

.showMenu .burger-item {
  margin-top: 5rem;
}

.burger-item {
  text-align: center;
  display: flex;
  margin-bottom: 30px;
  margin: auto;
  font-size: 4rem;
  font-weight: bold;
}


/*Social Links*/


/*Footer*/

.footer {
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: .6s ease;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 30%;
  list-style: none;
}

.footer ul li a{
  color: white;
  text-decoration: none;
}

.footer-hide {
  width: 100%;
  position: absolute;
  bottom: -100px;
  transition: .6s ease;
}

.footer-hide ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 30%;
  list-style: none;
}

.footer-hide ul li a{
  color: white;
  text-decoration: none;
}

